body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

p, li {
    font-size: 1rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}
footer{
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    width: 100%;

}
