/* Basic styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}
.hero img {
    width: 100%;
}
.content {
    padding: 1rem;
}
.weather {
    display: flex;
    align-items: center;
}
/* Media query for wider view */
@media (min-width: 768px) {
    .content {
        max-width: 800px;
        margin: 0 auto;
    }
    .weather::after {
        content: "⛅"; /* Weather icon emoji for wider view */
        margin-left: 0.5rem;
    }
    .weather:root{
        --primary-color: white;
        --secondary-color: #4CAF50;
        --accent1-color: #4CAF50;
        --accent2-color: white;
    
        --heading-font: 'Roboto', serif;
        --paragraph-font: 'open sans' serif;
    
        --nav-background-color: white;
        --nav-link-color: #E9EDC9;
        --nav-hover-link-color: white;
        --nav-hover-background-color: white;
    }
}
